.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #205375;
}

.toggle {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #f66b0e;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  border: 2px solid #e7d4c7;
}
